@import './reset.css';
@tailwind base;
@tailwind components;
@tailwind utilities;



/* INFO STRIP CSS */
@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.marquee-container {
  display: flex;
  overflow: hidden;
}

.marquee {
  display: inline-block;
  white-space: nowrap;
  animation: marquee 35s linear infinite;
}

.marquee span {
  display: inline-block;
  width: 85%;
  padding-left: 100%;
  animation: marquee 35s linear infinite; /* 35s durata animazione */
}