@import './reset.css';
@tailwind base;
@tailwind components;
@tailwind utilities;


body, html {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


/* INFO STRIP CSS */
@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.marquee-container {
  display: flex;
  overflow: hidden;
}

.marquee {
  display: inline-block;
  white-space: nowrap;
  animation: marquee 35s linear infinite;
}

.marquee span {
  display: inline-block;
  width: 85%;
  padding-left: 100%;
  animation: marquee 35s linear infinite;
}

/* BTN CLASS */

.btn
{
  padding: 0px 15px;
  font-weight: bold;
}

.btn:hover
{
  background-color: #026372;
  color: #e2e8f0;
}